In [1]:
import os
import pandas as pd

Co sledovat:
- [Kniha roku Deníku N](https://denikn.cz/1575113/knihy-roku-deniku-n-2024-hlasujte-o-nejdulezitejsich-literarnich-pocinech/?ref=list)

In [3]:
gr = pd.read_csv(os.path.join('data','goodreads-hodnoceni.csv'))

In [13]:
gr[gr['GR_title'].str.contains('Flora')]

Empty DataFrame
Columns: [GR_isbn, GR_date, GR_title, GR_rating, GR_ratings_count, GR_reviews, GR_published, GR_1_stars, GR_2_stars, GR_3_stars, GR_4_stars, GR_5_stars]
Index: []

In [15]:
dk = pd.read_csv(os.path.join('data','databazeknih-hodnoceni.csv'))

In [17]:
dk[dk['DK_titul'].str.contains('Flora')]

,DK_isbn,DK_date,DK_titul,DK_rating,DK_ratings_count,DK_tags,DK_Právě_čtených,DK_Přečtených,DK_Čtenářské_výzvě,DK_Knihotéce,DK_Chystám_se_číst,DK_Chci_si_koupit,DK_dalších_seznamech,DK_Doporučených,DK_autorstvo
52374,9.788076e+12,2024-11-11 03:58:56,Flora,100.0,4.0,"['Novely', 'Literatura česká']",2.0,4.0,NaN,2.0,13.0,6.0,NaN,NaN,['Jonáš Zbořil']
53878,9.788076e+12,2024-11-12 02:07:26,Flora,100.0,4.0,"['Novely', 'Literatura česká']",2.0,4.0,NaN,3.0,16.0,6.0,NaN,NaN,['Jonáš Zbořil']

In [30]:
dk[dk['DK_titul'].str.contains('Tahle kniha ti změní život')]

,DK_isbn,DK_date,DK_titul,DK_rating,DK_ratings_count,DK_tags,DK_Právě_čtených,DK_Přečtených,DK_Čtenářské_výzvě,DK_Knihotéce,DK_Chystám_se_číst,DK_Chci_si_koupit,DK_dalších_seznamech,DK_Doporučených,DK_autorstvo
40093,9.788028e+12,2024-09-30 04:02:12,Tahle kniha ti změní život,80.0,2.0,"['Literatura česká', 'Příběhy']",2.0,2.0,NaN,2.0,68.0,29.0,1.0,NaN,NaN
40806,9.788028e+12,2024-10-07 03:31:12,Tahle kniha ti změní život,84.0,5.0,"['Literatura česká', 'Příběhy']",6.0,5.0,NaN,5.0,80.0,30.0,1.0,NaN,NaN
42566,9.788028e+12,2024-10-14 03:26:57,Tahle kniha ti změní život,73.0,12.0,"['Literatura česká', 'Příběhy']",11.0,13.0,1.0,8.0,94.0,27.0,1.0,1.0,NaN
46462,9.788028e+12,2024-10-21 04:13:59,Tahle kniha ti změní život,75.0,23.0,"['Literatura česká', 'Příběhy']",10.0,25.0,2.0,9.0,103.0,31.0,1.0,1.0,['Aleš Palán']
47918,9.788028e+12,2024-10-28 03:16:39,Tahle kniha ti změní život,75.0,28.0,"['Literatura česká', 'Příběhy']",9.0,31.0,3.0,9.0,111.0,31.0,1.0,1.0,['Aleš Palán']
49279,9.788028e+12,2024-11-04 03:41:51,Tahle kniha ti změní život,76.0,33.0,"['Literatura česká', 'Příběhy']",7.0,40.0,4.0,9.0,117.0,33.0,1.0,1.0,['Aleš Palán']
52919,9.788028e+12,2024-11-11 04:04:43,Tahle kniha ti změní život,76.0,36.0,"['Literatura česká', 'Příběhy']",9.0,44.0,4.0,10.0,124.0,32.0,1.0,1.0,['Aleš Palán']
53754,9.788028e+12,2024-11-12 02:06:16,Tahle kniha ti změní život,76.0,36.0,"['Literatura česká', 'Příběhy']",9.0,44.0,4.0,10.0,126.0,34.0,1.0,1.0,['Aleš Palán']